body {
  background-color: powderblue;
}
  .container {
    display: flex;
    justify-content: center;
  }
  #loading {
    display: none;
  }
  
  #input-label {
    font-size: x-large;
  }
  #input {
    border: #555555;
    margin: 2px;
    padding: 15px 30px;
  }

  h2 {
    color: #b92e15;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
  }
  
  
  /* Loading icon */
  #loading {
    border: 16px solid #03d815; /* Light grey */
    border-top: 16px solid #071722; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .init-state-no-display {
    display: none;
  }
  