ul {
    list-style: none;
    columns: 3;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  
  li {
    display: inline-block;
    text-align: center;
    border-radius: 12px;
    margin: 15px;
    height:525px;
    width:400px;
    background-color: lightgray;
  }
  li p {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
  }
  li img {
    width: 40%;
    left: -50%;
    align-items: center;
    margin: 20px 20px 0 0;
    border-radius: 50%;
    box-shadow: 1px 2px 4px 6px #8e8e9c;
    height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }
  li img:hover{
    width: 45%;
  }
  li:hover {
    background: #eee;
    cursor: pointer;
  }

  .repo-desc{
    color: black;
    font-size: 14.5px;
    height:50px;
    margin-bottom: 40px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .repo-anchor{
    text-decoration: none;
 
  }

  .repo-anchor:link {
    color: #ccc;
  }
  

  .repo-anchor:visited {
    color: crimson;
  }
  

  .repo-anchor:hover {
    color: black;
  }
  
 
  .repo-anchor:active {
    color: blue;
  }

  #toggleresults{
    margin-left:5px;
    background:  linear-gradient(90deg, rgba(172, 240, 228, 0.9) 7.21%, #AC88FA 34.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
  }

  .pagination li {
    background-color: rgb(108, 109, 150);
    height: 35px;
    padding: 10px;
  }

  .pagination li:hover {
    opacity:  0.7;
  }

  .pagination .active-link {
    background-color: #ccc;
  }

  .pagination .disabled-link {
    cursor: not-allowed;
  }