ul {
    list-style: none;
    columns: 3;
    margin: 0 auto;
    padding: 0;
  }
  
  li {
    display: inline-block;
    text-align: center;
    border-radius: 12px;
    margin: 15px;
    height:525px;
    width:400px;
    background-color: lightgray;
  }
  li p {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
  }
  li img {
    float: left;
    width: 20%;
    margin: 0 15px 0 0;
  }
  li:hover {
    background: #eee;
    cursor: pointer;
  }
  #toggleresults{
    margin-left:5px;
    background:  linear-gradient(90deg, rgba(172, 240, 228, 0.9) 7.21%, #AC88FA 34.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }